services:
  - type: web
    name: live-polls-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        scope: build,runtime
        sync: false
      - key: PORT
        value: 10000
      - key: FRONTEND_URL
        sync: false
